
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.container {
  margin: 0 auto;
  max-width: 1174px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.header {
  width: 100%;
  height: 80px;
  background-color: rgb(90, 163, 205);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__title {
  font-family: 'Fascinate', cursive;
  font-size: 46px;
  font-weight: 700;
}
.header__cart, .header__arrow{
  position: fixed;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 80px;
}
.header__cart img, .header__arrow img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.header__cart img:hover, .header__arrow img:hover{
  filter: brightness(0) invert(1) brightness(0.25);
  transition: filter 500ms;
  display: block;
  transition: 500ms;
}
.header__notice{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -10px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: green;
  animation: notice 0.3s forwards ease-out;
}
.header__total{
  padding: 5px;
  border-radius: 20%;
  position: absolute;
  bottom: -30px;
  right: -10px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: rgb(106, 187, 106);
  animation: notice 0.3s forwards ease-out;
}
.header__notice-click {
  animation: click 0.8s  1s infinite alternate;
}
@keyframes notice {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
  }
}
@keyframes click {
  0% {
    transform: rotate(5deg);
    }
  100% {
    transform: rotate(-5deg);
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.item-box{
  margin: 20px;
  width: 250px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  position: relative;
}
.item-box img{
  width: 100%;
  height: 100%;
}
.item-box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  z-index: 1;
}
.item-box:hover.item-box::after{
  opacity: 1;
  transition: 500ms;
}
.item-box__content{
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  padding: 10px;
}
.item-box:hover .item-box__content{
  animation: content 0.3s forwards ease-out;
}

/* /////////////////////////////////////////////////////////////////////////// */
.empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.empty__img{
  width: 300px;
  height: 300px;
  
}
.empty__img img{
  width: 100%;
  height: 100%;
}
.empty__img p{
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
@keyframes content {
  0% {
    opacity: 0;
    bottom: -50px;
    }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
.item-box__title{
  text-align: center;
  font-size: 24px;
}
.price-box{
  padding: 30px 10px 10px 10px;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}
.price-box__price{
  font-size: 32px;
}
.price-box__btn{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}
.price-box__notice{
  position: absolute;
  z-index: 1;
  top: -40px;
  right: -120px;
  width: auto;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 5px 2px;
  background-color: blanchedalmond;
  opacity: 0;
}
.price-box__btn img:hover{
  filter: brightness(0) invert(1) brightness(0.25);
  transition: 500ms;
}
.price-box__btn img:active{
  filter: invert(1);
}
.price-box__btn:hover .price-box__notice{
  opacity: 1;
  transition: 500ms;
}
.products__block{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.products{
  margin: 40px 0;
}
.products__title{
  font-family: 'Fascinate', cursive;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cart{
  margin: 40px 100px;
}
.cart__item{
  width: 100%;
  height: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart__left{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__image{
  height: 100%;
}
.cart__image img{
  height: 100%;
}
.cart__title, .cart__price, .cart__total-price, .cart__total{
  font-size: 32px;
}
.cart__total-price{
  margin-left: 150px;
}
.cart__clear {
  font-size: 24px;
  color: rgb(68, 127, 255);
  text-decoration: underline;
  cursor: pointer;
}
.cart__clear:hover{
  color: rgb(54, 103, 209);
}
.cart__up{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__control-number{
  width: 40px;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cart__control-number input{
  width: inherit;
  height: inherit;
  display: block;
  border:1px solid rgba(46, 62, 80, 0.15);
  padding: 5px;
  text-align: center;
  font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.cart__control-number button{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  font-size: 16px;
}
.cart__control-number button:nth-child(3){
  left: -30px;
}
.cart__control-number button:nth-child(2){
  right:  -30px;
}
.cart__control-number button:hover{
  transition: 500ms;
  color: white;
  background-color: black;
}
.cart__remove{
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
}
.cart__remove:hover{
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 500ms;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.loader, .modal{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.6);
  z-index: 3;
}
.spiner{
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid rgb(31, 142, 206);
  border-top-color: rgba(255,255,255,.3);
  animation: spin 1s ease-in-out infinite;

}
@keyframes spin {
  to {
    transform: rotate(360deg);
    }
}
.modal__content{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.8);
  border-radius: 20px;
}
.modal__error{
  background-color: rgba(204, 2, 2, 0.8);
  width: 300px;
  height: 80px;
  animation: error 3s forwards ease-out;
}
@keyframes error {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal__control{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}
.modal__control button{
  width: 70px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(131, 199, 238);
  font-size: 20px;
}
.modal__text{
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: aliceblue;
}
.modal__control button:hover{
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 1440px) {
  .header__title {
    font-size: 40px;
  }
  .header {
    height: 70px;
  }
  .products {
    margin: 40px 10px;
  }
  .item-box {
    margin: 15px
  }
  .header__cart, .header__arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 90px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__title {
    font-size: 32px;
  }
  .header {
    height: 70px;
  }
  .header__cart, .header__arrow {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 80px;
  }
  .header__arrow {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 50px;
  }
  .products__title {
    font-size: 26px;
    margin-top: 10px;
  }
  .products {
    margin: 20px 0;
  }
  .item-box {
    margin: 10px;
    width: 200px;
    height: 200px;
  }
  .item-box__title, .price-box__price  {
    font-size: 24px;
  }
  .price-box__btn {
    width: 40px;
    height: 40px;
  }
  .price-box__notice {
    top: -30px;
    right: -150px;
    border-radius: 5px;
    padding: 5px 2px;
  }
  .cart {
    margin: 40px 150px;
  }
  .cart__total {
    font-size: 26px;
  }
  .cart__item {
    height: 60px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .cart__title, .cart__price, .cart__total-price, .cart__total {
    font-size: 26px;
  }
  .cart__left {
    width: 50%;
  }
  .cart__control-number input {
    font-size: 16px;
  }
  .cart__control-number button {
    width: 20px;
    height: 20px;
    top: 4px;
    font-size: 16px;
  }
  .cart__control-number button:nth-child(2) {
    right: -20px;
  }
  .cart__control-number button:nth-child(3) {
    left: -20px;
  }

}

@media only screen and (max-width: 768px) {
  .header__title {
    font-size: 28px;
  }
  .header {
    height: 60px;
  }
  .cart {
    margin: 20px 100px;
  }
  .cart__title, .cart__price, .cart__total-price, .cart__total, .cart__clear {
    font-size: 18px;
  }
  .cart__left {
    width: 60%;
  }
  .cart__total-price {
    margin-left: 100px;
  }
  .header__cart {
    width: 30px;
    height: 30px;
    top: 20px;
    right: 100px;
  }
  .header__arrow{
    width: 30px;
    height: 30px;
    top: 15px;
    right: 40px;
  }
  .header__notice {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
  }
  .header__total {
    padding: 3px;
    border-radius: 10%;
    bottom: -30px;
    right: -20px;
  }

}

@media only screen and (max-width: 425px) {
  .header__title {
    font-size: 24px;
  }
  .header {
    height: 45px;
  }
  .item-box {
    margin: 5px;
    width: 150px;
    height: 150px;
  }
  .products__title {
    font-size: 18px;
    margin-top: 10px;
  }
  .header__cart {
    top: 15px;
    right: 95px;
  }
  .header__arrow{
    top: 10px;
    right: 20px;
  }
  .header__total {
    bottom: -25px;
    right: -15px;
    font-size: 12px;
  }
  .header__notice {
    top: -10px;
    right: -10px;
    border: 1px solid red;
    font-size: 10px;
  }
  .cart {
    margin: 20px 30px;
  }
  .cart__title, .cart__price, .cart__total-price, .cart__total, .cart__clear, .cart__control-number input {
    font-size: 14px;
  }
  .cart__total-price {
    margin-left: 30px;
  }
  .cart__item {
    height: 45px;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  .cart__left {
    width: 60%;
  }
  .cart__control-number {
    width: 20px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
  }
  .cart__control-number input{
    height: 20px;
    font-size: 12px;
  }
  .cart__control-number button {
    width: 20px;
    height: 20px;
    top: -1px;
    font-size: 16px;
  }
  .cart__control-number button:nth-child(3) {
    left: -20px;
  }
  .cart__control-number button:nth-child(2) {
    right: -20px;
  }
  .item-box__title, .price-box__price {
    font-size: 18px;
  }
  .price-box__btn {
    width: 30px;
    height: 30px;
  }
  .price-box {
    padding: 20px 10px 10px 10px;
  }
  .price-box__notice {
    font-size: 12px;
}
}
@media only screen and (max-width: 375px) {
  .header__cart {
    top: 15px;
    right: 120px;
  }
  .header__arrow{
    top: 10px;
    right: 20px;
  }
  .header__total {
    bottom: -20px;
    right: -10px;
    font-size: 10px;
  }
  .header__notice {
    width: 15px;
    height: 15px;
  }
  .cart {
    margin: 20px 20px;
  }
  .cart__total, .cart__clear{
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .header__title {
    font-size: 22px;
  }
  .header {
    height: 45px;
  }
  .header__cart {
    top: 15px;
    right: 130px;
  }
  .header__arrow{
    top: 10px;
    right: 20px;
  }
  .item-box {
    margin: 5px;
    width: 130px;
    height: 130px;
  }
  .item-box__title, .price-box__price {
    font-size: 16px;
  }
  .item-box__content {
    width: 100%;
    height: 50%;
    padding: 5px;
  }
  .cart {
    margin: 10px 10px;
  }
  .cart__title, .cart__price, .cart__total-price, .cart__total, .cart__clear, .cart__control-number input {
    font-size: 12px;
  }
  .cart__total-price {
    margin-left: 15px;
  }
}